
/* display */

.display-container {
  /* border: 1px solid var(--black); */
  background-color: var(--white);
  
  padding: 1rem;
  margin-right: 1.5rem;
  min-width: 45vw;

  height: fit-content;
}

.content-head {
  font-family: "Noto Serif", serif;
  font-weight: 800;
  font-style: normal;
}

.content-head.center {
  text-align: center;
}

.content-head.left{
  text-align: left;
  margin-top: 1rem;
}

.content-desc {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inline-content {
  display: inline-flex;
  gap: 1rem;
}

/* edu,  exp, act display */

.edu-display-item, 
.exp-display-item, 
.activity-display-item {
  display: flex;
  flex-direction: column;
  column-gap: 0.5rem;
  /* margin-bottom: 1rem; */
}

.edu-display-info, 
.exp-display-info, 
.activity-display-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1rem;
}

.edu-display-additional, 
.exp-display-additional, 
.activity-display-additional {
  text-align: left;
  margin-bottom: 1rem;
}

/* skill section */
.skill-display-content{
  margin-bottom: 1rem;
}

.skill-display-item .content-head{
    min-width: fit-content;
}

.skill-display-item {
  display: flex;
  justify-content: flex-start ;
  column-gap: 0.5rem;
  text-align: left;
  
}


@media screen and (max-width: 768px) {
  .display-container {
    margin-left: 0;
    margin-right: 0;
    max-width: 80%;
  }
  
}
